body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color:#FFA500;
}
section.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FF926E, #FF674A);
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFEAC4;
}
.half-width p{
    color: #696969;
}
.half-width h1{
    font-size: 50px;
}
section.dream-area{
    display: flex;
    padding: 90px 20px;
}
.edream-area .half-width h1{
    font-size: 40px;
}
.dream-area .half-width .resume{
    text-decoration: none;
    background-image: linear-gradient(#FF926E, #FF674A);
    padding: 10px 60px;
    border-radius: 5px;
    color: #FFEAC4;
    text-transform: uppercase;
}

section.experience-are{
    display: flex;
}
