body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color:#FFA500;
}
section.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FF926E, #FF674A);
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFEAC4;
}
.half-width p{
    color: #696969;
}
.half-width h1{
    font-size: 50px;
}
section.dream-area{
    display: flex;
    padding: 90px 20px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-width{
    padding: 0px 75px;
}
.edream-area .half-width h1{
    font-size: 40px;
}
.dream-area .half-width .resume{
    text-decoration: none;
    background-image: linear-gradient(#FF926E, #FF674A);
    padding: 10px 60px;
    border-radius: 5px;
    color: #FFEAC4;
    text-transform: uppercase;
}

.experience-are{
    margin-bottom: 150px;
}
.experience-are h2{
    font-size: 30px;
}
section.experience-are .flexiable{
    display: flex;
}
.flexiable{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.experience-item{
    box-shadow: 5px 5px 34px 0px grey;
    width: 50%;
    margin: 0% 5%;
    padding: 50px;
    border-radius: 5px;
}
#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(#FF9E78, #FF664A);
    border-image-slice: 1;
}
#baby-developer{
    border-left: 7px solid;
    border-image: linear-gradient(#000CFF, #00E6FF);
    border-image-slice: 1;   
}
footer p{
    text-align: center;
    color: #696969;
}
